﻿@model BranchDTO

<form asp-action="BranchEdit" enctype="multipart/form-data">
    <br />
    <div class="container border p-3">
        <h1 class="text-white text-center">Edit Product</h1>
        <input hidden asp-for="BranchId" />
        <hr />
        <div class="row">
            <div class="col-10">
                <div class="row">
                    <div class="col-2">
                        <label class="control-label pt-2" style="font-size:20px;">Ten chi nhanh</label>
                    </div>
                    <div class="col-10 pb-3">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="col-2">
                        <label class="control-label pt-2" style="font-size:20px;">Dia chi</label>
                    </div>
                    <div class="col-10 pb-3">
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="col-2">
                        <label class="control-label pt-2" style="font-size:20px;">Thanh pho</label>
                    </div>
                    <div class="col-10 pb-3">
                        <input asp-for="City" class="form-control" /> 
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <div class="col-2">
                        <label class="control-label pt-2" style="font-size:20px;">Trang thai</label>
                    </div>
                    <div class="col-10 pb-3">
                        <select asp-for="State" class="form-select" asp-items="@ViewBag.State">
                            <option disabled selected>--Select State--</option>
                        </select>
                    </div>
                    <div class="col-2">
                        <label class="control-label pt-2" style="font-size:20px;">Zipcode</label>
                    </div>
                    <div class="col-10 pb-3">
                        <input asp-for="ZipCode" class="form-control" />
                        <span asp-validation-for="ZipCode" class="text-danger"></span>
                    </div>
                    <div class="col-5 offset-2">
                        <a asp-action="BranchIndex" class="btn-primary btn form-control ">Back to List</a>
                    </div>
                    <div class="col-5">
                        <input type="submit" value="Update" class="btn btn-success form-control" />
                    </div>

                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}