﻿@model BranchDTO

<form asp-action="DeleteBranch">
    <br />
    <div class="container border p-3">
        <h1 class="text-white text-center">Delete Branch</h1>
        <input hidden asp-for="BranchId" />
        <hr />
        <div class="row">
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;"> Ma chi nhanh</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="BranchId" disabled class="form-control" />
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Ten chi nhanh</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Name" disabled class="form-control" />
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Dia chi</label>
            </div>
            <div class="col-10 pb-3">
                <textarea asp-for="Address" disabled class="form-control" rows="5"></textarea>
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Thanh pho</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="City" disabled class="form-control" />
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Zipcode</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="ZipCode" disabled class="form-control" />
            </div>

            <div class="col-5 offset-2">

                <a asp-action="BranchIndex" class="btn-primary btn form-control ">Back to List</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Delete" class="btn btn-danger form-control" />
            </div>

        </div>

        <div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}